
.prolist .proitem {
  width: 100%;
  height: 100PX;
  display: flex;
  box-sizing: border-box;
  border-bottom: 1px solid #ccc;
}
/* gulp */
.prolist .proitem .itemimg {
  width: 100PX;
  height: 100PX;
}
.prolist .proitem .itemimg .img{
  width: 90PX;
  height: 90PX;
  box-sizing: border-box;
  /* 如果是网页开发，需要写一个物理像素 ---- scss库  ---- 1PX边框 */
  border: 1px solid #ccc;
  margin: 5PX;
}

.prolist .proitem .iteminfo {
  flex: 1;
  padding: 3PX 5PX;
}
.prolist .proitem .iteminfo .title{
  font-size: 14Px;
}